.git
.github
.gitlab
.idea
.vs
.vscode
**/bin
**/obj
artifacts
releases
logs
build
deploy/linux
deploy/windows
docs
*.user
*.suo
*.tmp
*.cache
.env
.env.*
!deploy/docker/env/*.example
deploy/docker/env/.env
deploy/docker/env/.env.dev
deploy/docker/env/.env.prod
deploy/docker/compose/dev-data
deploy/docker/compose/dev-logs
deploy/docker/compose/ldap-matrix-data
deploy/docker/compose/ldap-matrix-logs
