<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
			
		<UI>
			
			<Property Id="PROP_APIKEY" Value="!(loc.ApiKeyValue)" />
			<Property Id="PROP_APISECRET" Value="!(loc.ApiSecretValue)" Secure="yes" />

			<?if $(var.Configuration) = Debug ?>
				<Property Id="PROP_APIURL" Value="https://api.multifactor.dev" />
			<?else?>
				<Property Id="PROP_APIURL" Value="https://api.multifactor.ru" />
			<?endif?>
			
			<Dialog Id="ApiDialog" Width="370" Height="270" Title="!(loc.DialogHeader)">
				
				<Control Id="Title" Type="Text" X="15" Y="15" Width="160" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}!(loc.ApiDialogTitle)" />		
				
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="TopBmp" />
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="372" Height="0" />

				<Control Id="DialogInfo" Type="Text" X="20" Y="60" Width="228" Height="45" Text="!(loc.ApiDialogInfo)" TabSkip="yes" Transparent="yes" />


				<Control Id="LabelApiKey" Type="Text" X="20" Y="100" Height="17" Width="120" Transparent="yes" Text="!(loc.ApiDialogApiKeyLabel)" />
				<Control Id="EditApiKey" Type="Edit" X="140" Y="97" Height="17" Width="150" Property="PROP_APIKEY" Indirect="no"/>

				
				<Control Id="LabelApiSecret" Type="Text" X="20" Y="120" Height="17" Width="120" Transparent="yes" Text="!(loc.ApiDialogApiSecretLabel)" />
				<Control Id="EditApiSecret" Type="Edit" X="140" Y="117" Height="17" Width="150" Password="yes" Property="PROP_APISECRET" Indirect="no"/>


				<Control Id="LabelApiUrl" Type="Text" X="20" Y="140" Height="17" Width="120" Transparent="yes" Text="API url" />
				<?if $(var.Configuration) = Debug ?>
					<Control Id="EditApiUrl" Disabled="yes" Type="Edit" X="140" Y="137" Height="17" Width="150" Property="PROP_APIURL" Indirect="no"/>
				<?else?>
					<Control Id="EditApiUrl" Type="Edit" X="140" Y="137" Height="17" Width="150" Property="PROP_APIURL" Indirect="no"/>
				<?endif?>
				
				<Control Id="LabelRequiredFields" Type="Text" X="20" Y="220" Height="17" Width="120" Transparent="yes" Text="!(loc.ApiDialogRequiredFieldsLabel)" />


				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="372" Height="0" />

				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.DialogNext)" />
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.DialogBack)" />		
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.DialogCancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg" />
				</Control>

			</Dialog>
			
		</UI>
	</Fragment>
</Wix>
