<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="EnvironmentVariablesComponents">
            
            <Component Id="EnvironmentVariables" Guid="28177686-8c09-4295-a5f9-5fc8bf5c8b08">
                
                <Environment Id="EnvVarMultifactorKey" Name="DIRECTORYSYNC_MULTIFACTOR__KEY" Value="[PROP_APIKEY]" Permanent="no" Part="all" Action="set" System="yes" />
                <Environment Id="EnvVarMultifactorSecret" Name="DIRECTORYSYNC_MULTIFACTOR__SECRET" Value="[PROP_APISECRET]" Permanent="no" Part="all" Action="set" System="yes" />
                
                <Environment Id="EnvVarLdapPath" Name="DIRECTORYSYNC_LDAP__PATH" Value="[PROP_LDAP_PATH]" Permanent="no" Part="all" Action="set" System="yes" />
                <Environment Id="EnvVarLdapContainer" Name="DIRECTORYSYNC_LDAP__CONTAINER" Value="[PROP_LDAP_CONTAINER]" Permanent="no" Part="all" Action="set" System="yes" />
                <Environment Id="EnvVarLdapUsername" Name="DIRECTORYSYNC_LDAP__USERNAME" Value="[PROP_LDAP_USERNAME]" Permanent="no" Part="all" Action="set" System="yes" />
                <Environment Id="EnvVarLdapPassword" Name="DIRECTORYSYNC_LDAP__PASSWORD" Value="[PROP_LDAP_PASSWORD]" Permanent="no" Part="all" Action="set" System="yes" />
                
            </Component>

        </ComponentGroup>
    </Fragment>
</Wix>
