<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
	  
    <StandardDirectory Id="ProgramFiles64Folder">
		<Directory Id="ROOTDIRECTORY" Name="!(bind.Property.Manufacturer)">
			<Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)">
                <Directory Id="LogsFolder" Name="logs">
                    <Component Id="CreateLogsFolderComponent" Guid="c2fd77bb-8551-493d-ba5e-64ce34801d54">
                        <CreateFolder Directory="LogsFolder" />
                    </Component>
                </Directory>
			</Directory>
		</Directory>
    </StandardDirectory>
	  
    <StandardDirectory Id="LocalAppDataFolder">
        <Directory Id="PRODUCTDIR" Name="!(bind.Property.Manufacturer)">
            <Directory Id="COMMONFILESDIR" Name="!(bind.Property.ProductName)">
                <Component Id="ProductCommonFiles" Guid="fe622b1c-9b30-4fdb-b219-2afd77f681fb">
                    <CreateFolder />
                    <RemoveFolder Id='RemoveCOMMONFILESDIR' Directory="COMMONFILESDIR" On='uninstall' />
                    <RemoveFolder Id='RemovePRODUCTDIR' Directory="PRODUCTDIR" On='uninstall' />
                    <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]'
                                   Type='string'
                                   Name='Path'
                                   Value='[COMMONFILESDIR]'
                                   KeyPath='yes'/>
                </Component>
            </Directory>
        </Directory>
    </StandardDirectory>
	  
  </Fragment>
</Wix>
