<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<UI>
			
			<Property Id="PROP_LDAP_PATH" Value="!(loc.PropLdapPathValue)" />
			<Property Id="PROP_LDAP_CONTAINER" Value="!(loc.PropLdapContainerValue)" />
			<Property Id="PROP_LDAP_USERNAME" Value="!(loc.PropLdapUsernameValue)" />
			<Property Id="PROP_LDAP_PASSWORD" Value="!(loc.PropLdapPasswordValue)" Secure="yes"/>
			
			<Dialog Id="LdapDialog" Width="370" Height="270" Title="!(loc.DialogHeader)">
				
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="TopBmp" />
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="372" Height="0" />

				<Control Id="Title" Type="Text" X="15" Y="15" Width="160" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}!(loc.LdapDialogTitle)" />

				<Control Id="DialogInfo" Type="Text" X="20" Y="60" Width="228" Height="45" Text="!(loc.LdapDialogInfo)" TabSkip="yes" Transparent="yes" />

				
				<Control Id="LabelLdapPath" Type="Text" X="20" Y="100" Height="17" Width="120" Transparent="yes" Text="!(loc.LdapDialogLdapPathLabel)" />
				<Control Id="EditLdapPath" Type="Edit" X="140" Y="97" Height="17" Width="150" Property="PROP_LDAP_PATH" Indirect="no"/>

				
				<Control Id="LabelLdapContainer" Type="Text" X="20" Y="120" Height="17" Width="120" Transparent="yes" Text="!(loc.LdapDialogLdapContainerLabel)" />
				<Control Id="EditLdapContainer" Type="Edit" X="140" Y="117" Height="17" Width="150" Property="PROP_LDAP_CONTAINER" Indirect="no"/>
				

				<Control Id="LabelLdapUsername" Type="Text" X="20" Y="150" Height="17" Width="120" Transparent="yes" Text="!(loc.LdapDialogLdapUsernameLabel)" />
				<Control Id="EditLdapUsername" Type="Edit" X="140" Y="147" Height="17" Width="150" Property="PROP_LDAP_USERNAME" Indirect="no"/>


				<Control Id="LabelLdapPassword" Type="Text" X="20" Y="170" Height="17" Width="120" Transparent="yes" Text="!(loc.LdapDialogLdapPasswordLabel)" />
				<Control Id="EditLdapPassword" Type="Edit" X="140" Y="167" Height="17" Width="150" Password="yes" Property="PROP_LDAP_PASSWORD" Indirect="no"/>

				
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="372" Height="0" />
				
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" 
						 Text="!(loc.DialogNext)" 
						 DisableCondition="(NOT (PROP_LDAP_PATH)) OR (NOT (PROP_LDAP_USERNAME)) OR (NOT (PROP_LDAP_PASSWORD))"
						 EnableCondition="(PROP_LDAP_PATH) AND (PROP_LDAP_USERNAME) AND (PROP_LDAP_PASSWORD)" />
				
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.DialogBack)" />
				
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.DialogCancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg" />
				</Control>

			</Dialog>
			
		</UI>
	</Fragment>
</Wix>
