<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<Package
		Name="Directory Sync"
		Manufacturer="Multifactor"
		Version="1.0.0.0"
		UpgradeCode="0c9b82db-ff15-472f-9059-f4b018189bdb" Compressed="yes" Scope="perMachine">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)"
					  AllowDowngrades="no" 
					  AllowSameVersionUpgrades="no" />
		
		<MediaTemplate EmbedCab="yes" />
		<UIRef Id="WixUI_Common" />

		<WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="$(sys.CURRENTDIR)Resources\LICENSE.rtf"/>
		<WixVariable Id="WixUIBannerBmp" Value="$(sys.CURRENTDIR)Resources\top.bmp" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>

		<Binary Id="TopBmp" SourceFile="Resources\top.bmp" />

		<UIRef Id="MainWizard" />

		<Property Id="ApplicationFolderName" Value="DirectorySync" />
		<Property Id="WixAppFolder" Value="WixPerMachineFolder" />

		<Feature Id="Main">
			<ComponentRef Id="ProductCommonFiles" />
			<ComponentRef Id="CreateLogsFolderComponent" />
			<ComponentGroupRef Id="EnvironmentVariablesComponents" />
			<ComponentGroupRef Id="WindowsServiceComponents" />
		</Feature>
	
	</Package>
</Wix>
