<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="WindowsServiceComponents" Directory="INSTALLFOLDER">
		
		<Files Include="$(var.DirectorySync.TargetDir)\**">
            <Exclude Files="$(var.DirectorySync.TargetDir)\DirectorySync.exe" />
		</Files>
		
      <Component Id="ServiceExecutable">
		  
		  <File Id="DirectorySync.exe" Source="DirectorySync.exe" />
		  
		  <RemoveFile Id="ALLFILES" Name="*.*" On="both" />

		  <ServiceInstall Id="ServiceInstaller"
						  Type="ownProcess"
						  Name="MultifactorDirectorySync"
						  DisplayName="Multifactor Directory Sync"
						  Description="Multifactor Directory Sync" 
						  Start="auto"
						  ErrorControl="normal" />

		  <ServiceControl Id="StartService"
						  Stop="both"
						  Remove="uninstall"
						  Name="MultifactorDirectorySync"
						  Wait="true" />
		  
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
